html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  font-family: sans-serif;
}

.btnProcess {
  background-color: white;
  color: black;
}

.titles {
  margin-left: 10px;
  font-size: 4vh;
  font-weight: bold;
}

.table {
  padding-right: 50px;
}

.thead {
  font-weight: bold;
}

.addContainer {
  padding: 30px 20px;
  width: 100%;
}

.addBtn {
  background-color: black;
  color: white;
}

.addBtn:hover {
  background-color: black;
  color: white;
}

.inputDate {
  width: 80%;
  margin-right: 25px;
}
