html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  font-family: sans-serif;
}

.btnProcess {
  background-color: white;
  color: black;
}

.titles {
  margin-left: 10px !important;
  font-size: 4vh !important;
  font-weight: bold !important;
}

.addContainer {
  padding: 30px 20px;
  width: 100%;
}

.addBtn {
  background-color: black;
  color: white;
}

.addBtn:hover {
  background-color: black;
  color: white;
}

.inputDate {
  width: 80%;
  margin-right: 25px;
}
